.container {
    background-color: white;
    border-radius: 5px;
    display:flex;
    align-items: center;
    border: 4px solid black;
    width: 400px;
    height: auto;
}
.button001 {
    background-color: blue;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
}

.button002 {
    background-color: lightblue;
    color: black;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 50px;
}
#text001 {
text-align: center;
}
#text002 {
text-align: left;
}
#green001 { 
    color:green;
}
#red001 {
    color:red;
}